# ===== Global =====
.DS_Store
*.log
.env

# ===== Backend =====
Backend/target/
Backend/.idea/
Backend/.vscode/
Backend/*.log

# Backend runtime workspace
Backend/codesphere_workspace/

# ===== Frontend =====
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.idea/
frontend/.vscode/

# ===== OS =====
Thumbs.db

